.heard-icon {
  max-width: 8%;
}
.share-icon {
  max-width: 7%;
  margin-left: 4px
}
.logo-footer{
  padding-top: 10px;
  text-align: center;
}
.icon {
  width: 10%;
}
.icon:hover{
  background: white;
  border-radius: 100%;
}
