@media (max-width: 1024px) {
  .sia{
    display: inline;
    grid-column: 2/4;
    grid-row: 2/5;
    z-index: 300;
    width: 433px;
  }
  .labri{
    width: 290px;
    margin-left: 34px;
  }
  .letras {
    margin-left: 100px;
}
}