body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

p{
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}

.photo {
  max-width: 100%;
}

.logo-header{
  width: 16%;
  margin-left: 50px;
  padding-top: 10px;
}

.banner-first {
  margin-top: 10px;
  grid-column: 1/4;
}
.share-icon{
  grid-column: 2/3;
}